.principal img {
  width: 100%;
}
.video-container {
  margin-top: 30px;
}
iframe {
  width: 640px;
  height: 400px;
}

.article_container article {
  display: flex;
  align-items: center;
  padding: 50px;
}
.article_container p {
  padding: 10px 50px;
}